// font-family: 'Oswald', sans-serif;
@import "reset";

.wrapper{
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
}
.main-nav{
  width: 50%;

  ul{
    display: flex;
    flex-direction: row;
    padding:0;
  }
  li{
    margin: 0 auto;
  }

}

.right-nav{
  width: 20%;
  text-align: right;
  ul{
    display: flex;
    flex-direction: row;
    padding:0;
  }
  li{
    margin: 0 auto;
  }

}

.logo{
  width: 20%;
  margin: 16px 1%;
  text-align: left;
}
.homepage{
  background-image: url(/img/homepage-models@2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}
.model-s{
  margin: 50px;
  h1{
    text-transform: uppercase;
    color: #222;
  }
  ul{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 30px auto;
    justify-content: center;
    padding: 0;
  }
  li{
    margin: 10px 3%;
    border: 2px #222 solid;
    border-radius: 25px;
  }
  a{
    padding: 20px 40px;
  }
}
