// font-family: 'Oswald', sans-serif;
@import "reset";

.wrapper{
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
}
.main-nav{
  width: 50%;

  ul{
    display: flex;
    flex-direction: row;
    padding:0;
  }
  li{
    margin: 0 auto;
  }

}

.right-nav{
  width: 20%;
  text-align: right;
  ul{
    display: flex;
    flex-direction: row;
    padding:0;
  }
  li{
    margin: 0 auto;
  }

}

.logo{
  width: 20%;
  margin: 16px 1%;
  text-align: left;
}
.homepage{
  background: url(/img/homepage-models@2x.jpg) no-repeat center;
  height: 100vh;
}
